<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content" class="container my-3">
    <h2 th:text="${question.subject}">제목</h2>
    <div class="card my-3 bg-warning-subtle">
        <div class="card-body">
            <div class="card-text" th:text="${question.content}"></div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-danger p-2 text-start mx-3">
                    <div th:text="${#temporals.format(question.created, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
        </div>
    </div>
    <!--        <div th:text="${question.content}">내용</div>-->
    <h5 class="border-bottom my-3 py-2" th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5> <!-- # : html이 가지고 있는 함수 사용 -->

    <div class="card my-3" th:each="answer : ${question.answerList}">
        <div class="card-body">
            <div class="card-text" th:text="${answer.content}"></div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start mx-3">
                    <div th:text="${#temporals.format(answer.created, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
        </div>
    </div>

    <!--        <div>-->
    <!--            <ul>-->
    <!--                <li th:each="answer : ${question.answerList}" th:text="${answer.content}"></li>-->
    <!--            </ul>-->
    <!--        </div>-->
    <form th:object="${answerDto}" class="my-3" th:action="@{|/answer/create/${question.id}|}" method="post">
        <textarea th:field="*{content}" class="form-control" id="content" name="content" rows="7"></textarea>
        <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="fieldError">Error</p>
        <input class="btn btn-primary my-3" type="submit" value="답변 등록">
    </form>
</div>
</html>