<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div class="container my-3">
        <h1>질문 등록</h1>
        <form th:action="@{/question/create}" method="post">
            <div class="mb-3">
                <label for="subject" class="form-label"><b>제목</b></label>
                <input type="text" class="form-control" id="subject" name="subject" placeholder="제목을 입력하세요">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label"><b>내용</b></label>
                <textarea class="form-control" id="content" name="content" rows="10" placeholder="내용을 입력하세요"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">저장하기</button>
        </form>
    </div>
</body>
</html>